<?xml version="1.0"?>
<configuration>
  
  <location path="Sub">
    <appSettings>
      <add key="Message" value="Subpage"/>
    </appSettings>
    <system.web>
      <!-- CTSECISSUE:DisabledEventValidation -->
      <pages enableEventValidation="false">
      </pages>
    </system.web>
  </location>
  
  <system.web>
    <!-- CTSECISSUE:DisabledViewStateMACValidation -->
    <pages enableViewStateMac="false">
    </pages>

  </system.web>
</configuration>
