<?xml version="1.0"?>
<configuration>
  <elmah>
    <!--CTSECISSUE: Insecure Elmah Using-->
    <security allowRemoteAccess="1" />
    <!--CTSECISSUE: Insecure Elmah Using -->
    <security allowRemoteAccess="yes" />
    <!--CTSECISSUE: Insecure Elmah Using -->
    <security allowRemoteAccess="true" />
    <!--CTSECISSUE: Insecure Elmah Using -->
    <security allowRemoteAccess="on" />
  </elmah>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
	  <!--CTSECISSUE: Incomplete Role Protection -->
	  <roleManager cacheRolesInCookie="true"/>
    <!-- CTSECISSUE:UnsafeDebugDirective -->
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
    <webServices>
      <protocols>
        <!-- CTNONSECISSUE:WCFUnsafeDocumentationProtocol -->
        <remove name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials>
            <peer>
              <!-- CTSECISSUE:WCFUnsafeCertificateValidation -->
              <messageSenderAuthentication certificateValidationMode="PeerTrust"/>
              
              <!-- CTSECISSUE:WCFUnsafeCertificateValidation -->
              <peerAuthentication certificateValidationMode="None"/>
            </peer>
            <serviceCertificate>
              <!-- CTSECISSUE:WCFUnsafeCertificateValidation -->
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
            <peer>
              <!-- CTSECISSUE:WCFUnsafeCertificateValidation -->
              <peerAuthentication certificateValidationMode="PeerTrust"/>
            </peer>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- CTSECISSUE:WCFUnsafeMetadataPublishing -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <!-- CTSECISSUE:WCFUnsafeDebugDirective -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- CTSECISSUE:WCFDirectoryListing-->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
